.odd {
  background-color: pink;
  font-family: verdana, "DejaVu Sans", sans-serif;
}

#second {
  color: blue;
  font-size: 36px;
}

#re-adjust {
  font-size: 24px;
}

#fourth {
  background-color: lightgreen;
  font-weight: bold;
  font-size: 24px;
}
